<div class="row">
  <label id="main-title">{{pageTitle}}</label>
</div>
<div class="row">
  <div class="col-lg-12 grid-margin">
    <div class="card">
      <div class="card-body">

        <div class="d-sm-flex justify-content-center justify-content-sm-between custom-card-header">
          <h4 class="card-title">All Users</h4>
          <button type="submit" (click)="viewUserDetails(null, 'create')" class="btn btn-success mr-2 create-user-btn">Create
            New User</button>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>
                  #
                </th>
                <th>
                  User Name
                </th>
                <th>
                  Phone Number
                </th>
                <th>
                  Rank
                </th>
                <th>
                  Status
                </th>
                <th>
                  Created Date
                </th>
                <th>
                  Actions
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of userDetails; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{user.fullName}}</td>
                <td>{{user.phoneNumber}}</td>
                <td>{{user.rank}}</td>
                <td ngClass="{'text-success' : user.status = 'Active'}">{{user.status}}</td>
                <td>{{user.dateCreated}}</td>
                <td>
                  <div class="badge badge-pill badge-primary" placement="bottom"
                    (click)="viewUserDetails([user.nationalId], 'view')" ngbTooltip="View Info"><i class="mdi mdi-magnify"></i>
                  </div>&nbsp;
                  <div class="badge badge-pill badge-info" placement="bottom"
                    (click)="viewUserDetails([user.nationalId], 'edit')" ngbTooltip="Edit Info"><i class="mdi mdi-pencil"></i>
                  </div>&nbsp;
                  <div class="badge badge-pill badge-danger" placement="bottom"
                    (click)="viewUserDetails([user.nationalId], 'delete')" ngbTooltip="Deactivate Customer"><i
                      class="mdi mdi-delete"></i></div>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>