@import '../../styles';
:host {
  width: 100%;
}

.footer {
  background: transparent;
  color: $footer-color;
  padding: 40px;
  transition: all $action-transition-duration $action-transition-timing-function;
  -moz-transition: all $action-transition-duration $action-transition-timing-function;
  -webkit-transition: all $action-transition-duration $action-transition-timing-function;
  -ms-transition: all $action-transition-duration $action-transition-timing-function;
  border-top: $border-width solid transparent;
  font-size: calc(#{$default-font-size} - 0.05rem);
  font-family: $type-1;
  a {
    color: theme-color(success);
    font-size: inherit;
  }
  @media (max-width: 991px) {
    margin-left: 0;
    width: 100%;
  }
}

.login-footer {
  color: #FFC300 !important;
}
