<div class="main-logo">
  <img src="assets/images/logo.svg" alt="atrio fx logo" />
</div>
<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <div class="nav-link">
        <div class="user-wrapper">
          <div class="profile-image">
            <img [src]=userProfile alt="profile image">
          </div>
          <div class="text-wrapper">
            <p class="profile-name">{{fullName}}</p>
            <div>
              <small class="designation text-muted">{{rank}}</small>
              <span class="status-indicator online"></span>
            </div>
          </div>
        </div>

      </div>
    </li>
    <li class="nav-item" ngbTooltip="Go to Dashboard" placement="bottom">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
        <i class="menu-icon mdi mdi-television"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item" ngbTooltip="Manage all system users" placement="bottom">
      <a class="nav-link" routerLink="/users" routerLinkActive="active">
        <i class="menu-icon mdi mdi-account"></i>
        <span class="menu-title">User Management</span>
      </a>
    </li>
    <li class="nav-item" ngbTooltip="View and manage customers" placement="bottom">
      <a class="nav-link" routerLink="/customers" routerLinkActive="active">
        <i class="menu-icon mdi mdi-account-multiple"></i>
        <span class="menu-title">Customer Management</span>
      </a>
    </li>
    <li class="nav-item" ngbTooltip="Add or edit videos" placement="bottom">
      <a class="nav-link" routerLink="/videos" routerLinkActive="active">
        <i class="menu-icon mdi mdi-video"></i>
        <span class="menu-title">Videos</span>
      </a>
    </li>
    <li class="nav-item" ngbTooltip="Upload and manage new signals" placement="bottom">
      <a class="nav-link" routerLink="/signals" routerLinkActive="active">
        <i class="menu-icon mdi mdi-access-point"></i>
        <span class="menu-title">Signals</span>
      </a>
    </li>
    <li class="nav-item" ngbTooltip="Add or edit documentation" placement="bottom">
      <a class="nav-link" routerLink="/publications" routerLinkActive="active">
        <i class="menu-icon mdi mdi-book-open"></i>
        <span class="menu-title">Learning Publications</span>
      </a>
    </li>
    <li class="nav-item" ngbTooltip="Manage and reply to all tickets" placement="bottom">
      <a class="nav-link" routerLink="/forum" routerLinkActive="active">
        <i class="menu-icon mdi mdi-chat"></i>
        <span class="menu-title">Forum</span>
      </a>
    </li>

    <li class="nav-item" ngbTooltip="Manage and reply to blog posts" placement="bottom">
      <a class="nav-link" routerLink="/blog" routerLinkActive="active">
        <i class="menu-icon mdi mdi-forum"></i>
        <span class="menu-title">Blog</span>
      </a>
    </li>
    <li class="nav-item" ngbTooltip="Manage all callback requests" placement="bottom">
      <a class="nav-link" routerLink="/callbackRequests" routerLinkActive="active">
        <i class="menu-icon mdi mdi-phone"></i>
        <span class="menu-title">Callback Requests</span>
      </a>
    </li>
    <li class="nav-item" ngbTooltip="Manage all newsletters" placement="bottom">
      <a class="nav-link" routerLink="/newsletters" routerLinkActive="active">
        <i class="menu-icon mdi mdi-mail"></i>
        <span class="menu-title">Newsletters</span>
      </a>
    </li>
    <li class="nav-item" ngbTooltip="Sign out from account" placement="bottom">
      <a class="nav-link" routerLink="/logout" routerLinkActive="active">
        <i class="menu-icon mdi mdi-logout"></i>
        <span class="menu-title">Logout</span>
      </a>
    </li>
  </ul>
</nav>